.background{
  background-image:url("https://1.bp.blogspot.com/-hyT7D0rMN-M/XSok48yTcaI/AAAAAAAAAT8/EfOjhutWi3Q3Z7V3zTUIre9KtetjUgjYwCEwYBhgL/s1600/pexels-photo-1797171.jpeg");
  background-position: center;
}

.App {
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #12409c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(245, 241, 241);
}

.App-link {
  color: #9461fb;
}
h2{
  text-align: center;
  color: rgb(241, 236, 236);
  text-decoration:underline;
  text-decoration-style: double;
  text-shadow: #999;
}

h1{
  text-align: center;
  color: rgb(242, 238, 245);
  text-decoration:underline;
  text-orientation: upright;
}
td{
  text-align: center;
}
.btn-success{
  background-color: rgb(230, 7, 115);
  border: 1px solid #999;
  width: 80%;
  color: white;
}
.image{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 1000px;
}
  
.add{
  background-color: rgb(144, 239, 144);
  color: rgb(6, 6, 6);
}
.dlt{
  background-color: rgb(245, 90, 90);
  color: rgb(8, 8, 8);
}
